
.news-page-one{
    .title{
        .pages{
        li{
        font-size: 12px;
        color: $color-b;
        &.home{
        a{
        transition: $transition3;
        text-decoration: none;
        color: $color-b;
        position: relative;
        &::before{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 1px;
        width: 0%;
        transition: 0.5s ease-in-out;
        background-color: #059;
        }
        }
        &:hover{
        a{
        color: #059;
        &::before{
        width: 100%;
        }
        }
        }
        }
        }
        }
        h1{
        font-family: $ff1;
        color: $color-b;
        font-size: 24px;
        }
        }
        .sidebar{
        .name{
        h6{
        font-size: 14px;
        font-weight: 600;
        margin-right: 15px;
        }
        }
        .sidebar-icon{
        button{
        margin-bottom: 5px;
        padding: 5px 10px;
        border: 1px solid #cccfd6;
        i{
        font-size: 18px;
        color: gray;
        }
        }
        }
        .form{
        border-radius: 3px;
        border: 1px solid #cccfd6;
        input[type=text]{
        position: relative;
        border: none;
        outline: none;
        padding: 0.5rem 15px;
        &::placeholder{
        transition: 0.2s ease-in-out;
        transform: translateX(0px);
        font-size: 12px;
        // color: #636364;
        }
        &:focus{
        &::placeholder{
        transform: translateX(20px);
        color: transparent;
        }
        }
        }
        span{
        border: none;
        background-color: #f7f7f7;
        i{
        padding: 0px 5px;
        font-size: 20px;
        }
        }
         
         
        }
        .blog-categories{
        border-radius: 3px;
        border: 1px solid #e2e4e8;
        .class{
        border-bottom: 1px solid #e2e4e8;
        h4{
        font-family: $ff1;
        font-size: 1rem;
        padding: 15px;
        padding-bottom: 0;
        }
        }
        .categories{
        padding: 1.1rem;
        padding-bottom: 0;
        li{
        a{
        color: $color-b;
        font-size: 12px;
        font-weight: 700;
        display: block;
        text-decoration: none;
        padding: 10px 0;
        transition: $transition3;
        border-bottom: 1px solid #e2e4e8;
        &:hover{
        color: #059;
        }
        }
        .item3{
        border-bottom: 0;
        padding-bottom: 0;
        }
         
        }
        }
        }
        .articles{
        @extend .blog-categories;
        ul{
        padding: 0.5rem 1rem;
        li{
        padding: 10px;
        border-bottom: 1px solid #e2e4e8;
        a{
        text-decoration: none;
        color: #059;
        font-weight: 700;
        font-size: 11px;
         
        }
        span{
        font-size: 11px;
        display: block;
        color: gray;
        margin-top: 5px;
         
        }
        &.last{
        border-bottom: none;
        }
        }
        }
        }
        .custom{
        @extend .blog-categories;
        ul{
        li{
        p{
        font-size: 12px;
        color: $color-b;
        line-height: 1.75em;
        // font-weight: 200px;
        }
        }
        }
        }
        .products{
        border-radius: 3px;
        border: 1px solid #e2e4e8;
        padding: 1.2rem;
        position: relative;
        a{
        display: block;
        text-decoration: none;
        }
        h6{
        text-align: center;
        color: #059;
        }
        .image{
         
        // display: flex;
        width: 170px;
        position: relative;
        .background{
        background-image: url(https://cdn.shopify.com/s/files/1/0272/1962/4029/products/19_b1b4fcee-44ff-42cf-8e26-acaa506b9af7_360x.jpg?v=1572579625);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: $transition3;
        }
        .background2{
        @extend .background;
        background-image: url(https://cdn.shopify.com/s/files/1/0272/1962/4029/products/4a06b713-de6b-4022-bca4-1d17bd33f801_1.92f35f5a11e07b8fe8d4695fcb4017fa_270x270.jpg?v=1572851410);
        }
        .sale{
        // text-align: right;
        position: absolute;
        top: 5%;
        left: 75%;
        text-align: center;
        padding: 3px 10px;
        font-weight: 300;
        background-color: $bg2 ;
        color: #fff;
        font-size: 10px;
        border-radius: 3px
         
        }
        .bestSellers{
        @extend .sale;
        background-color: $orange;
        top: 20%;
        left: 55%;
        }
        .custom{
        @extend .sale;
        background-color: $color-b;
        left: 40%;
        }
        .view{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: 0.4s ease-in-out;
        a{
        padding: 5px 10px;
        background-color: white;
        box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
        color: $color-b;
        font-size: 11px;
        border-radius: 3px;
        font-weight: 600;
        text-decoration: none;
        }
        &:hover{
        a{
        color: #059;
        }
        }
        }
        &:hover{
        .view{
        opacity: 1;
        }
        }
        } 
        .bottom{
        .reg{
        font-weight: 300;
        font-size: 10px;
        color: black;
        transition: 0.3s ease-in-out;
        &:hover{
        color: #059;
        }
        }
        .about{
        color: black;
        font-weight: 600;
        font-size: 12px;
        transition: 0.3s ease-in-out;
        &:hover{
        color: #059;
        }
        }
        .rate{
        margin: 10px 0;
        i{
        color: $color-g;
        margin-right: 3px;
        transition: $transition3;
        &:active{
        color: $orange;
        }
        }
        }
        .price{
        font-size: 14px;
        font-weight: 600;
        .price1{
        color: gray;
        margin-right: 5px;
        text-decoration: line-through;
        }
        .price2{
        color: $bg2;
        }
        }
        .select{
        // display: inline-block;
        font-size: 14px;
        transition: $transition3;
        color: $color-b;
        padding: 10px;
        border-radius: 5px; 
        outline: 1px solid $color-b; 
        outline-offset:-1px; 
        font-family: $ff1;
        &:hover{ 
        background: $bg2;
        color: white;
        outline: none;
        } 
        }
        .like{
        transition: 0.3s ease-in-out;
        opacity: 0;
        position: absolute;
        top: 80%;
        left: 85%;
        i{
        color: $color-b;
        font-size: 18px;
        transition: $transition3;
        &:hover{
        color: $bg2;
        }
        }
        }
        }
        &:hover{
        .background{
        opacity: 1;
        // z-index: 555;
        }
        .like{
        opacity: 1;
        }
        }
         
        }
        .offcanvas{
        width: 50%;
        }
        .offcanvas-header{
        padding: 10px 20px;
        background-color: #f5f5f5;
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
        button{
        background-color: #f5f5f5;
        border: 0;
        padding: 0;
        margin: 0;
        margin-right: 10px;
        }
        h6{
        font-family: $ff1;
        color: #757575;
        }
        }
        }
        .left{
        width: 21%;
        margin-right: 2.5rem;
        .form{
        border-radius: 3px;
        border: 1px solid #cccfd6;
        input[type=text]{
        position: relative;
        border: none;
        outline: none;
        padding: 0.5rem 15px;
        &::placeholder{
        transition: 0.2s ease-in-out;
        transform: translateX(0px);
        font-size: 12px;
        // color: #636364;
        }
        &:focus{
        &::placeholder{
        transform: translateX(20px);
        color: transparent;
        }
        }
        }
        span{
        border: none;
        background-color: #f7f7f7;
        i{
        padding: 0px 5px;
        font-size: 20px;
        }
        }
         
         
        }
        .blog-categories{
        border-radius: 3px;
        border: 1px solid #e2e4e8;
        .class{
        border-bottom: 1px solid #e2e4e8;
        h4{
        font-family: $ff1;
        font-size: 1rem;
        padding: 15px;
        padding-bottom: 0;
        }
        }
        .categories{
        padding: 1.1rem;
        padding-bottom: 0;
        li{
        a{
        color: $color-b;
        font-size: 12px;
        font-weight: 700;
        display: block;
        text-decoration: none;
        padding: 10px 0;
        transition: $transition3;
        border-bottom: 1px solid #e2e4e8;
        &:hover{
        color: #059;
        }
        }
        .item3{
        border-bottom: 0;
        padding-bottom: 0;
        }
         
        }
        }
        }
        .articles{
        @extend .blog-categories;
        ul{
        padding: 0.5rem 1rem;
        li{
        padding: 10px;
        border-bottom: 1px solid #e2e4e8;
        a{
        text-decoration: none;
        color: #059;
        font-weight: 700;
        font-size: 11px;
         
        }
        span{
        font-size: 11px;
        display: block;
        color: gray;
        margin-top: 5px;
         
        }
        &.last{
        border-bottom: none;
        }
        }
        }
        }
        .custom{
        @extend .blog-categories;
        ul{
        li{
        p{
        font-size: 12px;
        color: $color-b;
        line-height: 1.75em;
        // font-weight: 200px;
        }
        }
        }
        }
        .products{
        border-radius: 3px;
        border: 1px solid #e2e4e8;
        padding: 1.2rem;
        position: relative;
        a{
        display: block;
        text-decoration: none;
        }
        h6{
        text-align: center;
        color: #059;
        }
        .image{
         
        // display: flex;
        width: 170px;
        position: relative;
        .background{
        background-image: url(https://cdn.shopify.com/s/files/1/0272/1962/4029/products/19_b1b4fcee-44ff-42cf-8e26-acaa506b9af7_360x.jpg?v=1572579625);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: $transition3;
        }
        .background2{
        @extend .background;
        background-image: url(https://cdn.shopify.com/s/files/1/0272/1962/4029/products/4a06b713-de6b-4022-bca4-1d17bd33f801_1.92f35f5a11e07b8fe8d4695fcb4017fa_270x270.jpg?v=1572851410);
        }
        .sale{
        // text-align: right;
        position: absolute;
        top: 5%;
        left: 75%;
        text-align: center;
        padding: 3px 10px;
        font-weight: 300;
        background-color: $bg2 ;
        color: #fff;
        font-size: 10px;
        border-radius: 3px
         
        }
        .bestSellers{
        @extend .sale;
        background-color: $orange;
        top: 20%;
        left: 55%;
        }
        .custom{
        @extend .sale;
        background-color: $color-b;
        left: 40%;
        }
        .view{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: 0.4s ease-in-out;
        a{
        padding: 5px 10px;
        background-color: white;
        box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
        color: $color-b;
        font-size: 11px;
        border-radius: 3px;
        font-weight: 600;
        text-decoration: none;
        }
        &:hover{
        a{
        color: #059;
        }
        }
        }
        &:hover{
        .view{
        opacity: 1;
        }
        }
        } 
        .bottom{
        .reg{
        font-weight: 300;
        font-size: 10px;
        color: black;
        transition: 0.3s ease-in-out;
        &:hover{
        color: #059;
        }
        }
        .about{
        color: black;
        font-weight: 600;
        font-size: 12px;
        transition: 0.3s ease-in-out;
        &:hover{
        color: #059;
        }
        }
        .rate{
        margin: 10px 0;
        i{
        color: $color-g;
        margin-right: 3px;
        transition: $transition3;
        &:active{
        color: $orange;
        }
        }
        }
        .price{
        font-size: 14px;
        font-weight: 600;
        .price1{
        color: gray;
        margin-right: 5px;
        text-decoration: line-through;
        }
        .price2{
        color: $bg2;
        }
        }
        .select{
        // display: inline-block;
        font-size: 14px;
        transition: $transition3;
        color: $color-b;
        padding: 10px;
        border-radius: 5px; 
        outline: 1px solid $color-b; 
        outline-offset:-1px; 
        font-family: $ff1;
        &:hover{ 
        background: $bg2;
        color: white;
        outline: none;
        } 
        }
        .like{
        transition: 0.3s ease-in-out;
        opacity: 0;
        position: absolute;
        top: 80%;
        left: 85%;
        i{
        color: $color-b;
        font-size: 18px;
        transition: $transition3;
        &:hover{
        color: $bg2;
        }
        }
        }
        }
        &:hover{
        .background{
        opacity: 1;
        // z-index: 555;
        }
        .like{
        opacity: 1;
        }
        }
         
        }
        }
        .car-news{
        padding-top: 2rem ;
        padding-bottom: 2.5rem ;
        border-bottom: 1px solid #eee;
        a{
        text-decoration: none;
        h5{
        color: #0056b3;
        font-family: $ff2;
        }
        }
        span{
        color: #8c8c8c;
        font-size: 12px;
        font-weight: 300;
        }
        .car-image{
        width: 88%;
        position: relative;
        overflow: hidden;
        margin: 1.5rem auto;
        img{
        width: 100%;
        transition: 0.5s ease-in-out; 
        overflow: hidden;
        }
        &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: rgba(0, 0, 0, 0.349);
        // opacity: 0;
        z-index: 5555;
        transition: 0.5s ease-in-out;
        }
        &:hover{
        img{
        transform: scale(1.1);
        }
        &::before{
        // opacity: 1;
        height: 100%;
        }
        }
        } 
        p{
        margin-bottom: 2rem;
        font-size: 12px;
        line-height: 2em;
        font-weight: 400;
        color: #383e47;
        }
        .readMore{
        font-family: $ff1;
        color: $color-b;
        padding: 0.6rem 2.5rem;
        border: 1px solid #b6b6b6;
        border-radius: 3px;
        transition: $transition3;
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
        &:hover{
        background-color: $color-b;
        color: $bg1;
        }
        }
        &.last{
        border-bottom: none;
        }
        }
        .navigation{
        a{
        border-radius: 3px;
        padding: 10px 15px;
        display: inline-block;
        text-decoration: none;
        font-size: 12px;
        }
        .prev-page{
        margin-right: 15px;
        background-color: #f7f7f7;
        color: #535353;
        border: none;
        font-weight: 600;
        i{
        margin-right: 5px
        }
         
        }
        .next-page{
        margin-left: 15px;
        font-weight: 600;
        background-color: transparent;
        color: $color-b;
        border: 1px solid #eaeaea;
        transition: $transition3;
        i{
        margin-left: 5px
        }
        &:hover{
        border: 1px solid #f7f7f7 ;
        background-color: #f7f7f7; 
        }
         
        }
        .first-page{@extend .prev-page;
        font-weight: 400;
        }
        .following-page{
        @extend .next-page;
        font-weight: 400;
        border: 1px solid transparent;
        margin: 0;
        }
        }
.car-news{
margin-bottom: 1rem;
.unordered-list{
h6{
font-size: 17px;
font-family: $ff1;
margin-bottom: 1rem;
}
li{
font-size: 12px;
margin: 10px 0
}
}
.ordered-list{
@extend .unordered-list;
}
.image-gallery{
h5{
font-family: $ff1;
font-size: 17px;
margin-bottom: 1.5rem;
display: inline-block;
padding: 0 5%;
position: relative;
&::before{
content: "";
position: absolute;
top: 50%;
left: 100%;
width: 100%;
background-color: $color-g;
height: 1px;
}
&::after{
content: "";
position: absolute;
top: 50%;
right: 100%;
width: 100%;
background-color: $color-g;
height: 1px;
}
}
img{
margin-right: 25px;
}
}
.paragraph-text{
h5{
font-family: $ff1;
font-size: 17px;
margin-bottom: 1rem;
}
p{
margin-bottom: 2rem;
font-size: 12px;
line-height: 2em;
font-weight: 400;
color: $color-b;
}
}
.block-quote{
@extend .paragraph-text;
blockquote{
font-style: italic;
font-size: 12px;
line-height: 2.2em;
font-weight: 300;
text-align: center;
background-color: #f5f5f5;
padding: 1rem 1.5rem;
}
}
}
.tags{
li{
margin-bottom: 10px;
a{
display: flex;
flex-wrap: wrap;
padding: 8px 15px;
margin-right: 10px ;
color: #8c8c8c;
background-color: #f7f7f7;
font-size: 12px;
border-radius: 3px;
text-decoration: none;
box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
}
}
.icons{
i{
display: inline-block;
margin-right: 15px;
transition: $transition3;
&:hover{
transform: translateY(-5px);
}
}
.plus{
i{
position: relative;
}
.more{
position: absolute;
top: 100%;
left: 0;
min-width: 100px;
opacity: 0;
visibility: hidden;
z-index: 7777;
li{
a{
font-size: 10px;
text-decoration: none;
}
}
}
&:hover{
opacity: 1;
visibility: visible;
}
 
}
 
}
.older-posts-btn{
display: inline-block;
font-family: $ff1;
font-size: 15px;
color: $color-b;
padding: 0.6rem 2.5rem;
border: 1px solid #b6b6b6;
border-radius: 3px;
transition: $transition3;
text-decoration: none;
box-shadow: 0 1px 3px rgba(0,0,0,.1);
&:hover{
background-color: $color-b;
color: $bg1;
}
}
.comments{
.title{
border-bottom: 1px solid #e2e4e8;
h6{
font-size: 18px;
font-family: $ff1;
}
}
.comment{
border-bottom: 1px dotted #e2e4e8;
align-items: flex-start;
padding: 1.5rem 0;
.photo{
margin-right: 20px;
}
.text{
span{
font-size: 12px;
color: #8c8c8c;
display: inline-block;
margin-bottom: 0.5rem;
}
p{
font-size: 12px;
line-height: 1.7em;
font-weight: 300;
}
}
}
}
.leave-comment{
.title{
border-bottom: 1px solid #e2e4e8;
h5{
font-size: 18px;
font-family: $ff1; 
}
}
label{
font-size: 13px;
font-weight: 600;
}
input{
outline: none;
border-radius: 3px;
border: 1px solid #cccfd6;
background-color: $bg1;
height: 40px;
padding: 0 15px;
font-size: 12px
 
}
textarea{
@extend input;
height: 6rem;
padding: 10px 15px;
 
}
.post-comm{
background-color: $color-b;
border: none;
border-radius: 3px;
padding: 0.6rem 2rem;
span{
font-family: $ff1;
color: $bg1;
}
}
}
}