$bg1: #fff;
$bg2: #b20000;
$bg2-h: #9a0000 ;
$bg3: #222325;
$bg4: #2e3033;
$color-b: #383e47;
$color-g: #dfdfdf;
$orange: #ed6912;
$fs-icons: 24px;
$ff1: 'Rajdhani', sans-serif;
$ff2: 'Arimo', sans-serif;
$transition3: 0.3s ease-in-out;