@import "_variables";
@import "_responsive";

    @mixin underline-before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width:0%;
    height: 1px;
    transition: $transition3;
    background-color: #059;
    }
     
    #header{
        .top{
        display: none;
        border-bottom: 1px solid #e2e4e8;
        background-color: $bg1;
        .top-left{
        span{
        font-size: 12px;
        color: $color-b;
        font-family: $ff2;
        }
        .left{
        .dropdown-menu{
        box-shadow: 0 1px 4px rgba(0,0,0,.15);
        min-width: inherit;
         
        }
        img{
        margin-right: 5px;
        }
        }
        }
        .top-right{
        ul{
        li{
        margin-left: 15px;
        padding: 5px 0;
        a{
        position: relative;
        color: $color-b;
        display: inline-block;
        // padding: 15px 0;
        font-size: 12px;
        white-space: nowrap;
        text-decoration: none;
        transition: $transition3;
        &::before{
        @include underline-before;
        }
        &:hover{
        color: #059;
        &::before{
        width: 100%;
        }
        }
        }
        span{
        display: inline-block;
        font-size: 12px;
        padding: 0 5px;
        }
        i{
        color: $color-b;
        display: inline-block;
        font-size: 20px;
        margin-right: 5px;
        }
        }
        }
        }
        }
        .main{
        position: relative;
        background-color: $bg1;
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
        i{
        padding: 10px 0;
        font-size: $fs-icons ;
        color: $color-b;
        }
        .main-left{
        .menu-icon{
        margin-right: 1rem ;
        .offcanvas-body{
            z-index: 6666666666666666;
        .back-menu{
        li{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d7d7dd !important;
        button{
        // display: block;
        background-color: transparent;
        border: none;
        font-family: $ff1;
        padding: 10px;
        // font-size: 18px;
        }
        span{
        font-size: 10px;
        color: white;
        font-family: $ff1;
        padding: 2px 5px;
        border-radius: 3px;
        &.sale{
        background-color: $bg2;
        }
        &.hot{
        background-color: #70b00c;
        }
        &.new{
        background-color: #008ddd;
        }
        }
        &.dr-menu{
        justify-content: space-between;
        }
        }
        }
        .more-bottom{
        padding-top: 10px;
        padding-bottom: 3% ;
        border-bottom: 1px solid #d7d7dd;
        li{
        line-height: 1.65em;
        font-weight: 200;
        font-size: 13px;
        margin: 0.7rem;
        i{
        padding: 0;
        font-size: 15px;
        margin-right: 0.5rem;
        }
        a{
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: $color-b;
         
        &::before{
        @include underline-before;
        }
        }
        &:hover{
        i{
        color: #059;
        }
        a{
        &::before{
        width: 100%;
        }
        color: #059;
        }
         
        }
        }
        }
        .language{
        margin: 1.5rem 0.8rem;
        h5{
        font-family: $ff1;
        margin-right: 15%;
        color: $color-b;
        font-size: 14px;
        }
        ul{
        li{
        a{
        display: block;
        img{
        margin-right: 5px;
        }
        span{
        font-size: 13px;
        color: $color-b;
        font-weight: 300;
        }
        }
         
        }
        }
        }
        .currency{
        @extend .language;
        }
        }
        }
        .search{
        .search-btn{
        position: relative;
        background-color: transparent;
        padding: 0;
        border: none;
        }
        .open-search{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        input{
        width: 100%;
        }
        }
        &:hover{
        .open-search{
        display: block;
        }
        }
        }
         
        }
        .main-right{
        .shop-cart{
            // z-index: 555;
        .cart-count{
        top: 20%;
        font-size: 10px;
        }
        .offc{
            z-index: 5555555;
        width: 80%;
        .offc-head{
        border-bottom: 1px solid #e2e4e8;
        h5{
        font-family: $ff1;
        }
        }
        .offc-body{
        span{
        display: block;
        text-align: center;
        color: $color-b;
        font-size: 14px;
        margin-bottom: 1rem;
        }
        a{
        display: block;
        text-align: center;
        color: $color-g;
        text-decoration: none;
        font-family: $ff1;
        border-radius: 3px;
        padding: 10px ;
        color: $bg1;
        background-color: $bg2;
        transition: 0.3s ease-in-out;
        &:hover{
        background: $bg2-h;
        }
        }
        }
        }
        }
        .user{
            // z-index: 555;
        @extend .shop-cart;
        sup{color: red;}
        .offcanvas-body{
            z-index: 5555555;
        p{
        font-size: 14px;
        color: $color-b;
        font-weight: 300;
        }
        .f-password{
        a{
        position: relative;
        font-size: 12px;
        color: #059;
        text-decoration: none;
        &::before{
        @include underline-before;
        }
        &:hover{
        &::before{
        width: 100%;
        }
        }
        }
        }
        .bottom{
        padding: 1.5rem 0;
        border-top: 1px solid #e2e4e8;
        }
        .login-btn{
        border: 1px solid #b6b6b6;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
        color: $color-b;
        background-color: transparent;
        margin: 1.5rem 0;
        padding: 0.5rem;
        transition: 0.2s ease-in-out;
        font-family: $ff1;
        &:hover{
        background-color: $color-b;
        color: white;
        }
         
        }
        .bottom{
        .create{
        @extend .login-btn;
        color: white;
        background-color: $bg2;
        &:hover{
        background-color: $bg2-h;
        }
        }
        }
        }
         
        }
        }
        .main-info{
        .number{
        a{
        color: $bg2;
        text-decoration: none;
        font-family: $ff1;
        font-size: 20px;
        }
        span{
        display: block;
        font-size: 12px;
        color: $ff2;
        text-align: center;
        }
        }
        .form{
        margin:0 30px;
        width: 50%;
        border-radius: 3px;
        border: 1px solid #cccfd6;
        box-shadow: 0 1px 4px rgba(0,0,0,.15);
        input[type=text]{
        position: relative;
        border: none;
        outline: none;
        padding: 10px 15px;
        &::placeholder{
        transition: 0.2s ease-in-out;
        transform: translateX(0px);
        font-size: 12px;
        // color: #636364;
        }
        &:focus{
        &::placeholder{
        transform: translateX(20px);
        color: transparent;
        }
        }
        }
        span{
        border: none;
        background-color: #f7f7f7;
        i{
        padding: 0px 5px;
        font-size: 20px;
        }
        }
         
         
        }
        .account{
        border-right: 1px solid #cccfdc;
        padding-right: 20px;
        a{
        margin-right: 5px;
        font-size: 14px;
        text-decoration: none;
        color: $color-b;
        font-family: $ff2;
        transition: $transition3;
        }
        i{
        display: inline-block;
        font-size: 16px;
        transition: $transition3;
        }
        &:hover{
        a{
        color: #059;
        }
        i{
        color: #059;
        }
         
        }
        }
        .wishlist{
        i{
        font-size: 27px;
        margin: 0 30px ;
        &:hover{
        color: #059;
         
        }
        }
        }
        .cart{
        i{
        font-size: 27px;
        &:hover{
         
        color: #059;
         
        }
        }
        ul{
        width: 21.5rem;
        padding: 1.5rem;
        box-shadow: 0 0 4px rgba(0,0,0,.2);
        li{
        span{
        display: block;
        text-align: center;
        color: $color-b;
        font-size: 12px;
        margin-bottom: 1rem;
        }
        a{
        display: block;
        text-align: center;
        color: $color-g;
        text-decoration: none;
        font-family: $ff1;
        border-radius: 3px;
        padding: 10px ;
        color: $bg1;
        background-color: $bg2;
        transition: 0.3s ease-in-out;
        &:hover{
        background: $bg2-h;
        } 
        }
        }
        }
        .badge{
        padding: 0.35em 0.55em;
        font-size: 0.7em;
        }
        }
        }
        .main-logo{
        padding: 2.5rem 0;
        }
        }
        .menu{
        position: relative;
        display: none;
        background-color: #373e46;
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
        ul{
        li{
        margin-left: 3%;
        span{
        display: inline-block;
        padding: 10px 0;
         
        a{
        font-family: $ff1; 
        color: $bg1;
        display: inline-block;
        text-decoration: none;
        position: relative;
        white-space: nowrap;
        &::before{
        @include underline-before;
        background-color: $bg1;
        }
         
        .badge{
        font-size: 0.7rem;
        }
        }
        }
        &.demo{
        position: relative;
        .dropdown-menu-demo{
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 55555;
        min-width: 12rem;
        background-color: $bg1;
        opacity: 0;
        transition: 0.2s ease-in-out;
        transform: translateY(40px);
        // padding: 1rem 1.5rem;
        visibility: hidden;
        box-shadow: 0 1px 4px rgba(0,0,0,.15);
        li{
        padding-left:20px ;
        border-bottom: 1px solid #cccfd6;
        margin: 0;
        a{
        display: inline-block;
        text-decoration: none;
        color: $bg4;
        font-family: $ff2;
        font-size: 12px;
        padding: 14px 0;
        transition: $transition3;
        &:hover{
        color: #059;
        }
        }
        }
         
        }
        &:hover{
        .dropdown-menu-demo{
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
        }
        }
        }
        &.performance{
        @extend .demo;
        .dropdown-menu-performance{
        @extend .dropdown-menu-demo;
        .sustoproine{
        position: relative;
        a{
        transform: translateX(0px);
         
        }
         
        .dropdown-menu-sustoproine{
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 55555;
        min-width: 12rem;
        background-color: $bg1; 
        transition: $transition3;
        transform: translateY(40px);
        box-shadow: 0 1px 4px rgba(0,0,0,.15);
        opacity: 0;
        visibility: hidden; 
        }
        i{
        color: #059;
        font-size: 14px;
         
        }
        &:hover{
        a{
        transform: translateX(10px);
        }
         
        .dropdown-menu-sustoproine{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        }
        background-color: #f1f1f1e0;
        i{
        display: inline-block !important;
        }
        }
        }
        .dunesCosmopolis{
        @extend .sustoproine;
        .dropdown-menu-dunesCosmopolis{
        @extend .dropdown-menu-sustoproine;
        }
         
        }
        }
        }
        &.wheels{
        .dropdown-menu-wheels{
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 555555555555555555555555555;
        width: 100%;
        background-color: $bg1;
        opacity: 0;
        transform: translateY(40px);
        padding: 1.5rem 0;
        visibility: hidden;
        box-shadow: 0 1px 4px rgba(0,0,0,.15);
        img{
            width: 200px;
        }
        .title{
        text-decoration: none;
        padding: 0;
        color: #059;
        display: block;
        }
        ul{
        li{
        a{
        text-decoration: none;
        color: $color-b;
        display: block;
        padding: 8px 0;
        font-family: $ff2;
        font-size: 12px;
        transition: $transition3;
        &:hover{
        color: #059;
        }
        }
        }
        }
        }
        &:hover{
        .dropdown-menu-wheels{
        transform: translateY(0px);
        opacity: 1;
        transition: 0.4s ease-in-out;
        visibility: visible;
        } 
        }
        }
        &.interior{
        @extend .wheels;
        .dropdown-menu-interior{
        @extend .dropdown-menu-wheels;
        .menu-2{
        margin: 20px 0;
        }
        .right{
        .catalog{
        position: relative;
        a{
        display: block;
        text-decoration: none;
        }
        h6{
        text-align: center;
        color: #059;
        }
        .image{
        // display: flex;
        width: 170px;
        position: relative;
        .background{
        background-image: url(https://cdn.shopify.com/s/files/1/0272/1962/4029/products/light-15_270x270.jpg?v=157160938);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: $transition3;
        }
        .background2{
        @extend .background;
        background-image: url(https://cdn.shopify.com/s/files/1/0272/1962/4029/products/4a06b713-de6b-4022-bca4-1d17bd33f801_1.92f35f5a11e07b8fe8d4695fcb4017fa_270x270.jpg?v=1572851410);
        }
        .sale{
        // text-align: right;
        position: absolute;
        top: 5%;
        left: 75%;
        text-align: center;
        padding: 3px 10px;
        font-weight: 300;
        background-color: $bg2 ;
        color: #fff;
        font-size: 10px;
        border-radius: 3px
         
        }
        .bestSellers{
        @extend .sale;
        background-color: $orange;
        top: 20%;
        left: 55%;
        }
        .custom{
        @extend .sale;
        background-color: $color-b;
        left: 40%;
        }
        .view{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: 0.4s ease-in-out;
        a{
        padding: 5px 10px;
        background-color: white;
        box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
        color: $color-b;
        font-size: 11px;
        border-radius: 3px;
        font-weight: 600;
        text-decoration: none;
        }
        &:hover{
        a{
        color: #059;
        }
        }
        }
        &:hover{
        .view{
        opacity: 1;
        }
        }
        }
         
        .bottom{
        .reg{
        font-weight: 300;
        font-size: 10px;
        color: black;
        transition: 0.3s ease-in-out;
        &:hover{
        color: #059;
        }
        }
        .about{
        color: black;
        font-weight: 600;
        font-size: 12px;
        transition: 0.3s ease-in-out;
        &:hover{
        color: #059;
        }
        }
        .rate{
        margin: 10px 0;
        i{
        color: $color-g;
        margin-right: 3px;
        transition: $transition3;
        &:active{
        color: $orange;
        }
        }
        }
        .price{
        font-size: 14px;
        font-weight: 600;
        .price1{
        color: gray;
        margin-right: 5px;
        text-decoration: line-through;
        }
        .price2{
        color: $bg2;
        }
        }
        .select{
        font-size: 14px;
        transition: $transition3;
        color: $color-b;
        padding: 10px;
        border-radius: 5px; 
        outline: 1px solid $color-b; 
        outline-offset:-1px; 
        font-family: $ff1;
        &:hover{ 
        background: $bg2;
        color: white;
        outline: none;
        } 
        }
        .like{
        transition: 0.3s ease-in-out;
        opacity: 0;
        position: absolute;
        top: 80%;
        left: 85%;
        i{
        color: $color-b;
        font-size: 18px;
        transition: $transition3;
        &:hover{
        color: $bg2;
        }
        }
        }
        }
        &:hover{
        .background{
        opacity: 1;
        // z-index: 555;
        }
        .like{
        opacity: 1;
        }
        }
        }
        }
        }
        }
        &.exterior{
        @extend .wheels;
        .dropdown-menu-exterior{
        @extend .dropdown-menu-wheels;
        .menu-2{
        margin: 20px 0;
        }
        }
        }
        &:hover{
        span{
        a{
        &::before{
        width: 100%;
        }
        }
        }
        }
        }
        }
        }
        }
    
        .first-section{
            background: url("../photo/bgcar-1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 70vh;
            color: #ffff;
            .bg-color{
                background-color: rgba(0, 0, 0, 0.331);
                width: 100%;
                height: 100%;
            }
    
            .content{
                width: 50%;
                h1{
                    font-size: 55px;
                    font-family: "Rajdhani", sans-serif;
                }
                p{
                    font-size: 14px;
                    font-family: sans-serif;
                    font-weight: 300;
                    margin-bottom: 2rem;
                }
                .shop-now-btn{
                    text-decoration: none;
                    // font-size: 14px;
                    font-family: "Rajdhani", sans-serif;
                    color: #fff;
                    background-color: $bg2;
                    transition: .3s ease-in-out;
                    padding: 10px 24px;
                    border-radius: 5px;
                    &:hover{
                        background-color: $bg2-h;
                    }
                }
            }
        }

// top brand start>>>>>>>>>>.
#top-brands{
    padding-top: 3rem ;
    position: relative;
    width: 100%;
    .brands-text{
        padding: 5px;
        h5{
            font-size: 17px;
            font-family: "Rajdhani", sans-serif;
            font-weight: 600;
        }

        a{
            text-decoration: none;
            font-size: 13px;
            font-family: "Rajdhani", sans-serif;
        }

    }
    .brands-box{

        img{
            width: 100%;
            height: 100%;
        }
    }
    
    
}
// top brand finish>>>>>>>>>

// popular(section) start *************************
.popular{
    font-family: "Rajdhani", sans-serif;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 4rem;
    .pop-header {
        h2{
            margin-bottom: 2.5rem;
            font-size: 35px;
            font-weight: bold;
            color: #313336;
            text-align: center;
        }
    }
    .pop-categories{
        padding: 20px 0px;
    }
    .category{
        overflow: hidden;
        &:hover{
            .right-img{
                .left-text{
                    h4{
                        &::before{
                            width: 100%;
                        }
                    }
                }
                img{
                    transform: scale(1.2);
                }
            }
        }

       .right-img{
           height: 120px;
         position: relative;
         img{
             width: 100%;
             height: 100%;
             position: absolute;
             top: 0;
             transition: 0.3s ease-in-out;
             left: 0;
         }
        .left-text{
            width: 100%;
            left: 20px;
            top: 20px;
            z-index: 5;
            height: 100%;
            position: absolute;
            h4{position: relative;
                display: inline-block;
                font-size: 20px;
                font-family: sans-serif;
                font-weight: 600;
                color: #383E47;
                &::before{
                    content: "";
                    transition: 0.3s ease-in-out    ;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width:0%;
                    background-color: grey;
                    height: 2px;
                }
            }
            p{
                font-size: 13px
            }
        }
       }
    }
}
// POPULAR (SECTİON) SONN ********************************

// flash start>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.flash-sale{
    width: 100%;
    padding: 5% 0;

    .flash{
        .flash-text{
            font-family: "Rajdhani", sans-serif;
            display: flex;
        }  
        i{
            color: #B20000;
            font-size: 30px;
        }
        h3{
            font-size: 25px;
            color: #B20000;
            padding-left: 10px;

        }


    }
}
// FLASH SALE FINISH >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.c-product{
    .flash-img{
        position: relative;
      &:hover{
          .a1{
              color: blue;
              opacity: 1;
    
          }
          .bottom-text{
              span{
                  i{
                      opacity: 1;
                  }
              }
          }
          .img2{
              z-index: 2;
              opacity: 1;
          }
      }
        .img2{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.3s ease-in-out;
    
        }
    
        .new{
            background-color: green;
            display: inline-block;
            position: absolute;
            top: 2%;
            right: 2%;
            z-index: 9;
    
            span{
                font-size: 10px ;
                color: #fff;
                padding: 10px;
                font-weight: bold
            }
    
        }
        .sale2{
            background-color: #B20000;
            position: absolute;
            top: 9%;
            right: 2%;
            z-index: 9;
    
            span{
                font-size: 10px ;
                font-weight: bold;
                color: #fff;
                padding: 5px 10px;
            }
        }
        .label{
            background-color: #383c41;
            position: absolute;
            top: 2%;
            right: 2%;
            z-index: 9;
    
            span{
                font-size: 10px ;
                font-weight: bold;
                color: #fff;
                padding: 5px 10px;
            }
        }
        .bottom-text{
            a{
                text-decoration: none;
                color: grey;
                position: relative;
                font-size: 13px;
    
            }
    
            .btn-red{
                font-size: 15px;
            }
            .star5{
                color: rgba(128, 128, 128, 0.413) ;
    
    
            }
            .span-four{
                color: #B20000;
            }
    
            p{
                font-size: 15px;
                color: #1F6AA5;
                font-weight: 600;
            }
            i{
                color: orangered;
                font-size: 15px;
            }
            span{
                font-family: sans-serif;
                font-weight: bold;
                font-size: 15px;
                margin-top:20px;
            }
            .btn-red{
                width: 100%;
                height: 40px;
                color: #000;
                font-family: "Rajdhani", sans-serif;
                font-weight: bold;
                border: 1px solid grey;
                border-radius: 5px;
                display:inline-block;
                display: flex;
                align-items: center;
                 justify-content: center;
                 margin: 20px 0px;
                 transition: 0.3s ease-in-out;
                 &:hover{
                     border: none;
                     background-color: #B20000;
                     color: #fff;
                 }
    
    
            }
    
        }
    
    
    }
}

// FEATURED CATAGORİES START ----------------------------
.featured{
    width: 100%;
    padding: 5% 0;
    background-color: #F7F7F7;
    
.featured-head{
    text-align: center;
    width: 100%;
    h1{
        font-size: 40px;
        font-family: "Rajdhani", sans-serif;
        text-align: center;
        font-weight: bolder;
    }
    p{
        color: #383e47;
        font-size: 12px;
        font-weight: 400;
        max-width: 850px;
        margin: 15px auto 30px auto;
        color: #383e47;
    }
}
    .loremous{
        transition: 0.3s ease-in-out;
        height: 100%;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
        }
        img{
            width: 100%;
        }
        .wheels-text{
            padding: 25px;
            text-align: center;
            h3{
                font-size: 20px;
                font-weight: 600;
                color: #313336;
            }
            p{
                color: rgba(11, 10, 10, 0.598);
            }
            ul{
                li{
                    a{
                        position: relative;
                        text-decoration: none;
                        font-size: 14px;
                        margin: 8px 0;
                        display: inline-block;
                        color: rgba(11, 10, 10, 0.598);
                        &:hover{
                            color: rgba(43, 43, 132, 0.701);
                            &::before{
                                width: 85%;

                            }
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            background-color: rgba(43, 43, 132, 0.701);
                            width: 0%;
                            height: 2px;
                            transition: 0.3s ease-in-out;
                            top: 70%;
                            left: 7%;
                        }

                    }

                }
                .a-2{
                    text-decoration: none;
                    padding-top: 15px;
                    display: block;
                    font-weight: bold;
                    color: #005599;
                    position: relative;
                    
                    &:hover{
                        &::before{
                            width: 80%;

                        }
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 10%;
                        transition: 0.3s ease-in-out;
                        width: 0%;
                        height: 1px;
                        background-color: #005599;
                    }
                }
            }
        }
    }
}
// featured finish>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

// .hero section start********************************************************
.hero-section{
    width: 100%;
    height: 70vh;
    background-image: url(https://cdn.shopify.com/s/files/1/0272/1962/4029/files/banner-overlay-text2.jpg?v=1573121281);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .hero-black{
        width: 100%;
        height: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.256);
        padding:2%  18%;

        .hero-text{
            position: absolute;
            right: 15%;
            width:450px;
            padding: 5px 10px;
            height: 400px;
            background-color: transparent;

            h1{
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: bold;
                color: #fff;
            }

            a{
                color: #fff;
                text-decoration: none;
                margin-right: 10px;
                border-right: 1px solid #fff;
                padding-right: 7px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: bold;
            }

            .hero-shop{
                color:#fff;
                font-size: 15px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: bold;
                border: none;
                padding: 10px 50px;
                border: 1px solid #B9000A;
                background-color: #B9000A;
                display: inline-block;
                transition: 0.3s ease-in-out;
                border-radius: 4px;
                &:hover{
                    background-color: #790707;
                    border:1px solid #790707 ;
                }
            }

            .hero-watch{
                color:#fff;
                font-size: 15px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: bold;
                border: 1px solid #fff;
                padding: 10px 50px;
                background-color: transparent;
                display: inline-block;
                transition: 0.3s ease-in-out;
                &:hover{
                    background-color: #383c41;
                    border:1px solid #383c41 ;
                }
            }
        }
        h3{
            font-family: sans-serif;
            font-weight: bold;
            font-style: italic  ;
            padding: 5px 10px;
            
            
        }
        .hero-h4{
            color: #000;
            background-color: #fff;
            display: inline-block;
            
        }
        .hero-h3{
            background-color: #B20000;
            display: inline-block;
            padding: 5px  10px ;
            color: #fff;
            margin: 0;


        }
        span{
            font-size: 16px;
            padding-bottom: 4px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bolder;
            color: #fff;
            background-color: #B9000A;
            width: 30px;
            height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            animation: myAni 2s infinite;
            @keyframes myAni  {
                0%{
                    box-shadow: 0px 0px 0px 0px #B9000A;
                }
                50%{
                    box-shadow: 0px 0px 5px 3px #B9000A;
                }
                100%{
                    box-shadow: 0px 0px 0px 0px #B9000A;
                }
                
            }
            

        }
        .hero-span{
            font-size: 16px;
            padding-bottom: 4px;
            position: absolute;
            top: 40%;
            left: 12%;
            transform: translateY(-25%);
            font-weight: bolder;
            color: #fff;
            background-color: #B9000A;
            width: 30px;
            height: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            animation: myAni 2s infinite;          
        }
    }
}
// hero section finish>>>>>>>>>>>>>>>>>>>>>>>>>


// top rated start>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.
.top-rated{
    width: 100%;
    padding: 5% 0;
    .tp-title{
        h2{
            font-size: 35px;
            font-family: "Rajdhani", sans-serif;
            font-weight: bolder;
        }
    }
}
// top-rated fınısh----------------------------------

// more departments**************************************
.more-departments{
    width: 100%;
    padding: 5% 0;
    background-color: #F7F7F7;
    text-align: center;
    .more-title{
        margin-bottom: 4%;
        h1{
            text-align: center;
            font-size: 35px;
            color: #383E47;
            font-family: "Rajdhani", sans-serif;
            font-weight: bold;

        }
    }
    .powersports{
        position: relative;
        overflow: hidden;
       width: 100%;
        .power-color{
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.283);
            position: absolute;
            top: 0;
            left: 0;
        }
       
       img{
           transition: 0.3s ease-in-out;
           width: 100%;
       }
       &:hover{
           img{
            transform: scale(1.08);
            overflow: hidden;
           }
       }
        .power-text{
            position: absolute;
            top: 10%;
            left:10%;
            .title{
                text-decoration: none;
                color: #fff;
                font-size: 30px;
                font-family: "Rajdhani", sans-serif;
                font-weight: bold;
                position: relative;
                &:hover{
                    &::before{
                        width: 100%;
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    transition: 0.3s ease-in-out;
                    top: 100%;
                    left: 0;
                    background-color: #fff;
                }
            }
            p{
                color: #fff;
                font-size: 13px;
                font-family: "Rajdhani", sans-serif;
                font-weight: 500;

            }
            

        }
        .power-a{
            position: absolute;
            bottom: 25%;
            right: 5%;
            a{
                text-decoration: none;
                color: #fff;
                background-color: #B20000;
                padding:10px 20px;
                border-radius: 3px;
                font-family: sans-serif;
                transition: 0.3s ease-in-out;
                font-weight: bold;
                &:hover{
                    background-color: #86030a;
                }
            }
        }
    }
    .suvtruck{
        position: relative;
        width: 100%;
        overflow: hidden;
        .suvtruck-color{
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.283);
            position: absolute;
            top: 0;
            left: 0;
        }
        img{
            width: 100%;
            transition: 0.3s ease-in-out;
        }
        &:hover{
            img{
                transform: scale(1.08);
            overflow: hidden;
            }
        }
        .suvtruck-text{
            position: absolute;
            top: 10%;
            left: 10%;
            .title{
                text-decoration: none;
                color: #fff;
                font-size: 30px;
                font-family: "Rajdhani", sans-serif;
                font-weight: bold;
                position: relative;
               
                &:hover{
                    &::before{
                        width: 100%;
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    transition: 0.3s ease-in-out;
                    top: 100%;
                    left: 0;
                    background-color: #fff;
                }
            }
            p{
                color: #fff;
                font-size: 13px;
                font-family: sans-serif;
                font-weight: bold;

            }
            
        }
        .power-a{
            position: absolute;
            bottom: 10%;
            right:4%;
            a{
                text-decoration: none;
                color: #fff;
                background-color: #B20000;
                padding:10px 20px;
                border-radius: 3px;
                font-family: sans-serif;
                transition: 0.3s ease-in-out;
                font-weight: bold;
                &:hover{
                    background-color: #86030a;
                }
            }
        }
    }
    .jeep-shop{
        position: relative;
        width:100%;
        overflow: hidden;
        // margin-top: 20px;
        .jeep-color{
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.283);
            position: absolute;
            top: 0;
            left: 0;
          
        }
        img{
            width: 100%;
            transition: 0.3s ease-in-out;
        }
        &:hover{
            img{
                transform: scale(1.08);
            overflow: hidden;
            }
        }
        .jeep-text{
            position: absolute;
            top: 10%;
            left: 10%;
            .title{
                text-decoration: none;
                color: #fff;
                font-size: 30px;
                font-family: sans-serif;
                font-weight: bold;
                position: relative;
               
                &:hover{
                    &::before{
                        width: 100%;
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    transition: 0.3s ease-in-out;
                    top: 100%;
                    left: 0;
                    background-color: #fff;
                }
            }
            p{
                color: #fff;
                font-size: 13px;
                font-family: sans-serif;
                font-weight: bold;

            }
            
        }
        .power-a{
            position: absolute;
            bottom: 10%;
            right:4%;
            a{
                text-decoration: none;
                color: #fff;
                background-color: #B20000;
                padding:10px 20px;
                border-radius: 3px;
                font-family: sans-serif;
                transition: 0.3s ease-in-out;
                font-weight: bold;
                &:hover{
                    background-color: #86030a;
                }
            }
        }
    }
    .motocycle{
        position: relative;
        width: 100%;
        overflow: hidden;
        transition: 0.3s ease-in-out;
        .motor-color{
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.283);
            position: absolute;
            top: 0;
            left: 0;
          
        }
        img{
            width: 100%;
            transition: 0.3s ease-in-out;
        }
        &:hover{
            
            img{
                transform: scale(1.08);
            overflow: hidden;
                }
        }
        .motor-text{
            position: absolute;
            top: 10%;
            left: 10%;
            .title{
                text-decoration: none;
                color: #fff;
                font-size: 30px;
                font-family: sans-serif;
                font-weight: bold;
                position: relative;
               
                &:hover{
                    &::before{
                        width: 100%;
                    }
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 1px;
                    transition: 0.3s ease-in-out;
                    top: 100%;
                    left: 0;
                    background-color: #fff;
                }
            }
            p{
                color: #fff;
                font-size: 13px;
                font-family: sans-serif;
                font-weight: bold;

            }
            
        }
        .power-a{
            position: absolute;
            bottom: 10%;
            right:4%;
            a{
                text-decoration: none;
                color: #fff;
                background-color: #B20000;
                padding:10px 20px;
                border-radius: 3px;
                font-family: sans-serif;
                transition: 0.3s ease-in-out;
                font-weight: bold;
                &:hover{
                    background-color: #86030a;
                }
            }
        }
    }
    button{
       width: 270px;
       height: 40px;
       background-color: transparent;
    //    margin-left: 42.5%;
       margin-top: 20px;
       border: 1px solid grey;
       position: relative;
       &:hover{
         a{
             color: #fff;
             
         }
           &::before{
            width: 50%;
            
           }
           &::after{
               width: 50%;
           }
       }
       a{
           position: relative;
           text-decoration: none;
           color: #383e47;
           transition: 0.3s ease-in-out;
           font-weight: bold;   
           font-family: sans-serif;
           z-index: 55555;
            }

       &::before{
        content: "";
        position: absolute;
        width: 0%;
        height: 100%;
        background-color: #313336;
        transition: 0.3s ease-in-out;
        top: 0%;
        left: 0;
    }
    &::after{
        content: "";
        position: absolute;
        top: 0%;
        right: 0;
        width: 0%;
        height: 100%;
        background-color: #313336;
        transition: 0.3s ease-in-out
        
    }
      

   }
}
// more departments>>>>>>>>>>>>>>>>>>>>>>>

//blog start>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. 
.blog-posts{
    width: 100%;
    padding: 7% 0;
    position: relative;
    .blog-title{
        h1{
            font-size: 35px;
            font-family: "Rajdhani", sans-serif;
            font-weight: bolder;
            color: #383E47;

        }
        .blog-view{
            position: absolute;
            top: 21%;
            right:17%;
            span{
                color: #1F6AA5;
                font-family: "Rajdhani", sans-serif;
                font-weight: bold;
                font-size: 12px;
            }
        }
    }
    .blog-img{
        margin-top:5%;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;    
            transition: 0.3s ease-in-out;
         
        }
        &:hover{
            img{
                transform: scale(1.08);
            }
            .blog-color{
                opacity: 1;
                visibility: visible;
                transform: scale(1.8);
                overflow: hidden;
            }
        }
        .blog-color{
            width:100%;
            height: 100%;
            opacity: 0;
            transition: 0.3s ease-in-out;

            visibility: hidden;
            background-color: rgba(0, 0, 0, 0.331);
            position: absolute;
            top: 0;
            left: 0;
            
        }
    }
    .img-bottom{
        span{
            display: block;
            padding: 10px 0px ;
            color: #9FA19F;
        }
        p{
            width: 100%;
            font-size: 13px;
            padding: 10px 0px;
            

        }
        a{
            display: inline-block;
            font-size: 17px;
            margin-top: 10px;
            text-decoration: none;
            font-family: sans-serif;
            font-weight: 600;
            color: #059;
        }
        .read{
            color: #9FA19F;
            font-size: 13px;
            position: relative;
            &:hover{
                color: #005599;
                &::before{
                    width: 100%;
                }
            }
            &::before{
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                transition: 0.3s ease-in-out;
                width: 0%;
                height: 1px;
                background-color: #005599;

            }
        }
        i{
            font-size: 10px;
            padding: 0px 5px
        }
    }

}
//blog finish>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. 

        
     
    #footer{
    background-color: $bg3;
    .top{
    color: $bg1;
    background-color: $bg2;
    .icon{
    i{
    display: block;
    margin-right: 15px;
    font-size: 20px;
    }
    }
    .content{
    h4{
    margin-top: 10px;
    padding: 15px 0;
    // line-height: 0;
    font-size: 16px;
    font-family: $ff1;
    }
    }
     
    }
    .main{
    h6{
    color: $color-g;
    font-family: $ff1;
    }
    .help{
    border-bottom: 1px solid #39393b;
    padding: 20px 0;
    font-size: 16px;
    line-height: 1.55em;
    color: $bg1;
    font-family: 'Rajdhani', sans-serif;
     
    }
    .info{
    padding: 25px 0;
    .subscribe{
    p{
    color: $color-g;
    font-size: 12px;
    font-family: $ff2;
    margin: 20px 0;
    }
    input[type=text]{
    margin-right: 10px;
    width: 59%;
    display: inline-block !important;
    position: relative;
    border: none;
    font-size: 12px;
    border-radius: 3px;
    outline: none;
    padding: 10px 15px;
    &::placeholder{
    transition: 0.2s ease-in-out;
    transform: translateX(0px);
    font-size: 12px;
    // color: #636364;
    }
    &:focus{
    &::placeholder{
    transform: translateX(20px);
    color: transparent;
    }
    }
    }
    .subscribe-btn{
    width: 30%;
    text-align: center;
    background-color: $bg2;
    color: $color-g;
    padding: 7px 0;
    transition: $transition3;
    font-family: $ff1;
    border-radius: 3px;
    &:hover{
    background-color: $bg2-h;
    }
    }
    .socialMedia{
    padding: 35px 0;
    li{
    margin-right:10px;
    a{
    font-size: 12px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #636364;
    border-radius: 50%;
    i{
    color: $bg1;
    }
    }
    }
    }
    }
    .note{
    p{
        width: 85%;
    padding: 35px 0;
    color: $color-g;
    font-size: 12px;
    font-family: $ff2;
    line-height: 1.55rem;
    }
    }
    .trust{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    img{
    margin-right: 15px;
    }
    }
    .right-menu{
    padding-top: 1rem;
    ul{
    li{
    padding: 5px 0;
    a{
    font-size: 12px;
    display: inline-block;
    color: $color-g;
    text-decoration: none;
    position: relative;
    &::before{
    @include underline-before;
    background-color: $bg1;
    }
     
     
    &:hover{
    color: $bg1;
    &::before{
    width: 100%;
    }
    }
    }
    i{
    color: $color-g;
    margin-right: 1rem;
    }
    p{
    color: $color-g;
    font-size: 12px;
    }
    &.call{ 
    .number{
    a{
    font-family: $ff1;
    font-size: 14px;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid $color-g;
    &:hover{
    color: $bg1;
    }
    }
    p{
    color: $color-g;
    line-height: 1rem;
    }
    }
    }
    }
    }
    .shop{
    width: 30%;
    }
    .information{
    width: 30%;
    }
    .contact{
    width: 35%;
    }
    }
    .right-accordion{
    .shop{
    color: $bg1;
    .accordion-header{
    border-bottom: 1px solid #39393b;
    button{
    // padding-top: 0;
    padding-left: 5px;
    padding-right: 0px;
    font-family: $ff1;
    color: $color-g;
    &::after{
    background-image: none;
    content: "+";
    font-size: 25px;
    }
    &:not(.collapsed){
    &::after{
    background-image: none;
    content: "\2212";
    font-size: 30px;
    transform: rotate(360deg);
    }
     
    }
    }
    }
    .accordion-body{
    @extend .right-menu;
    }
    }
    }
     
    }
    }
    .bottom{
    background-color: $bg4;
    padding: 20px 0;
    .copyright{
    p{
    display: inline;
    color: $color-g;
    font-weight: 300;
    font-size: 11px;
    line-height: 2.2em;
    }
    }
     
    img{
    margin: 0.5rem;
    height: 32px;
    }
    }
     
    }

    #scrollToTop {
    z-index: 555555;
    //    position: relative;
    position: fixed;
    bottom: 5%;
    right: 15px;
    cursor: pointer;
    
    display: none;
    color: black;
    transition: all 0.5s ease-in;
    &.active-elem{
        display: block;
    }
    .lights{
        position: absolute;
        top: 5%;
        left: 2%;
        opacity: 0;
    }
    &:hover{
        .lights{
            opacity: 1;
        }
    }
    }

    .mini-chat{
        z-index: 55555;
        position: fixed;
        right: 7%;
        bottom: 6%;
        i{
            font-size: 24px;
            color: white;
        }
        padding: 16px 17px;
        border-radius: 50%;
        background-color: #b2000b;
        animation: myAni 2s infinite;
        @keyframes myAni  {
            0%{
                box-shadow: 0px 0px 0px 0px #B9000A;
            }
            50%{
                box-shadow: 0px 0px 5px 3px #B9000A;
            }
            100%{
                box-shadow: 0px 0px 0px 0px #B9000A;
            }
            
        }
    }
    
    #chat{
        z-index: 555555555;
        width: 300px;
        height: 280px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        position: fixed;
        bottom: 10%;
        right: 7%;
        border-radius: 10px !important;
        transform: scale(0);
        transition: .3s ease-in-out;
        &.active{
            transform: scale(1);
        }
    
        header{
            background-color: $bg2;
            padding: 1rem 1.5rem;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            .top-head{
                color: #fff;
                h5{
                    margin-top: 7px;
                    font-family: 'Rajdhani', sans-serif;
                }
                .top-right{
                    i{
                        font-size: 25px;
                        margin-right: 5px;
                    }
                    
                }
                
            }
        }
        main{
            height: 200px;
            overflow-y: scroll;
            background-color: rgba(255, 255, 255, 0.831);
            border-bottom: 1px solid $bg2;
            color: #000;
            .message{
                position: relative;
                min-width: 51%;
                padding: .5rem 1rem 0 1rem ;
                border-radius: 10px;
                margin: 1rem;
                background-color: #f1f1f1;
                &.user{
                    color: #000;
                    background-color: #f1f1f1;
                    float: right;
                        i{
                            color:#000;
                            font-size: 25px;
                        }
                    
                    border-bottom-right-radius: 0;
                    
                }
                &.support{
                    // background-color: rgb(187, 187, 187);
                    float: left;
                    border-bottom-left-radius: 0;
                    color: #000;
                }
                .time{
                    position: absolute;
                    top: 100%;
                    color: #414243;
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
        }
        footer{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            .message-box{
                display:block;
                width: 100%;
                height: 98%;
                padding: 15px;
                outline: none;
                border: none;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }

    @media (min-width: 1024px) {
        .container{
        width: 84%;
        margin: auto;
        }
        #header{
        .top{
        display: block;
        }
        .main{
        .main-left{
        display: none !important;
        }
        .main-logo{
        width: 14%;
        display: flex;
        justify-content: end;
        margin-left: 10px;
        }
        .main-info{
        display: flex !important;
        }
        .main-right{
        display: none !important;
        }
        }
        .menu{
        display: flex;
         
        }
         
        }
        #footer{
        .main{
        .help{
        text-align: center;
        font-size: 1.3rem;
        }
        .info{
        .right-accordion{
        display: none;
        flex-wrap: wrap;
         
        }
        .right-menu{
        display: flex !important;
        justify-content: flex-end !important ;
        }
        }
        }
        .bottom{
        .payment{
        justify-content: end !important;
        } 
        }
        }
        }
    

@import "_newscommodo";
@import "_account";

